@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column !important;
    align-items: center;
  }
  .card {
    width: 100%;
  }

  .container {
    padding: 2px !important ;
  }
}
@media screen and (max-width: 594px) {
  .templates {
    flex-direction: column !important;
  }
  .colorinput {
    flex-direction: row !important;
  }
  .footer_section {
    flex-direction: row-reverse !important;
  }
}
