* {
  font-family: "DM Sans", sans-serif;
  color: #2b3674;
}

body {
  padding: 0;
  background-color: #e9edf2;
}

.card {
  width: 50%;
  border-radius: 22px;
  border: 1px solid transparent;
}
h3 {
  color: #2b3674;
  font-weight: 700;
}
.image_upload {
  border-radius: 13px;
  align-items: center;
  padding: 12px;
  border: 2px dashed #b2bad0;
  background-color: #fafcfe;
}
.fa-solid {
  font-size: 25px;
}
.image_upload p,
i {
  color: #4318ff;
}
.unit {
  height: 50px;
  width: 92px;
  border-radius: 19px !important;
  border: 2px solid #b6bbc7;
  color: #2b3674;
  text-align: center;
  font-weight: 700;
}
#exampleColorInput {
  max-width: 100% !important;
}

.form-control,
.form-select {
  margin-bottom: 10px;
  border-radius: 10px;
}
.form-select {
  margin-bottom: 10px;
}
.form-control-color {
  width: 100%;
}
.form-label::after {
  content: "*";
  color: red;
}
.nonline {
  background-color: #faf9ff;
  border: 0px solid transparent;
  color: #2b3674;
  font-size: 15px;
  font-weight: 700;
  border-radius: 16px;
}
.filled {
  background-color: #4318ff;
  border-radius: 16px;
  padding: 14px;
  border: 0px solid transparent;
}
.footer_section {
  border-radius: 22px;
  background-color: #ffffff;
}
/* .form-check-input:checked {
  background-color: #4318ff;
  border: none;
} */
.form-select,
.form-label,
.form-control,
.form-check-label,
.form-check-input:focus {
  box-shadow: none !important;
}

.form-control:focus {
  border: 1px solid #4318ff;
}
.form-select:focus {
  border: 1px solid #4318ff;
}
label {
  color: #2b3674;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: #4318ff;
}
input[type="radio"]:checked {
  background-color: #4318ff;
  border: none;
}
input[type="checkbox"]:checked {
  background-color: #4318ff;
  border: none;
}
.check_box {
  margin-left: 2px;
}
